body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: #fff;
  color: #121212;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 중앙 → 위쪽 배치 */
  padding-top: 200px; /* 🔥 원하는 만큼 위로 붙이기 */
}

#logo_wrapper {
  margin-bottom: 30px; /* 로고와 로그인 박스 사이 간격 */
}

#login_logo {
  width: 120px; /* 원하는 크기로 조정 가능 */
  height: auto;
}

#login_title {
  /* 텍스트 가운데 정렬 */
  width: 100%;
  text-align: center;
  /* margin-top: 50px; */
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

/* ✅ 폼 전체 중앙 정렬 */
#login_form {
  width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

/* ✅ 라벨 스타일 */
.email_label,
.password_label {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
}

#username,
#password {
  width: 100%;
  max-width: 355px;
  height: 40px;
  border: none; /* ✅ 네모 테두리 제거 */
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 0 5px;
  background-color: transparent; /* ✅ 배경 투명 */
  box-sizing: border-box;
  font-size: 14px;
  outline: none; /* ✅ 포커스 시 기본 파란 테두리 제거 */
  transition: all 0.2s ease;
  padding: 0 15px;
}

#helper_text {
  width: 100%;
  font-size: 12px;
  color: #ff0000;
  margin-top: -5px;
  margin-bottom: 12px;
  margin-left: 16px;
}

#login_button {
  width: 361px;
  height: 37px;
  background-color: #dcdbe3;
  display: block;
  margin: 12px auto 0;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#signup_link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #121212;
  text-decoration: none;
  font-size: 14px;
}
