body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f5f7;
}

#main_header {
  width: 100%;
  height: 104px;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #121212;
}

#header_title {
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  margin: 0; /* 가운데 정렬을 위해 상하 마진 제거 */
}
#login_title {
  /* 텍스트 가운데 정렬 */
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
}

#login_form {
  width: 392px;
  height: 198px;
  /* border: 1px solid #121212; */
  margin: auto;
  border-radius: 4px;
}

.email_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
  padding-left: 13px;
  font-weight: bold;
  margin-top: 25px;
}
.password_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
  padding-left: 13px;
  font-weight: bold;
}

#username,
#password {
  width: calc(100% - 30px);
  max-width: 355px;
  height: 33px;
  border: 1px solid #121212;
  margin-bottom: 16px;
  padding: 0 15px; /* 양쪽 15px 여유 */
  margin-left: 16px;
  background-color: #f4f5f7;
  border-radius: 4px;
  box-sizing: border-box; /* padding 포함해서 너비 계산 */
}

#login_button {
  width: 361px;
  height: 37px;
  background-color: #aca0eb;
  display: block;
  margin: 12px auto 0;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

#signup_link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #121212;
  text-decoration: none;
  font-size: 14px;
}
