body {
  margin: 0;
  background-color: #f4f5f7;
  font-family: "Pretendard", sans-serif;
}

/* 헤더 */
#main_header {
  width: 100%;
  height: 104px;
  background-color: #f4f5f7;
  border-bottom: 1px solid #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* 제목은 중앙 고정 */
#header_title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

/* 프로필 메뉴 */
.profile-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(50% - 220px); /* ✅ 제목 중앙에서 살짝 오른쪽 (조정 가능) */
}

/* 프로필 이미지 */
#profile_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s;
  position: relative;
  z-index: 2;
}
#profile_img:hover {
  transform: scale(1);
}

/* 드롭다운 메뉴 */
#dropdown_menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 10%;
  transform: translateX(-50%);
  width: 115px;
  background: #d9d9d9;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  list-style: none;
  padding: 8px 0;
  margin: 0;
  z-index: 1;
}

#dropdown_menu li {
  padding: 10px 16px;
  text-align: center;
}
#dropdown_menu li:hover {
  background-color: #e9e9e9;
}
#dropdown_menu a {
  color: #333;
  text-decoration: none;
  font-size: 15px;
}

.hidden {
  display: none;
}

#passwordEdit_title {
  /* 텍스트 가운데 정렬 */
  width: 100%;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 70px;
}

#passwordEdit_form {
  width: 392px;
  height: 198px;
  /* border: 1px solid #121212; */
  margin: auto;
  border-radius: 4px;
}

.passwordCheck_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
  padding-left: 17px;
  font-weight: bold;
  margin-top: 25px;
}
.password_label {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
  padding-left: 17px;
  font-weight: bold;
}

#passwordCheck,
#password {
  width: calc(100% - 30px);
  max-width: 355px;
  height: 33px;
  border: 1px solid #121212;
  margin-bottom: 16px;
  padding: 0 15px; /* 양쪽 15px 여유 */
  margin-left: 16px;
  background-color: #f4f5f7;
  border-radius: 4px;
  box-sizing: border-box; /* padding 포함해서 너비 계산 */
}

#edited_button {
  width: 361px;
  height: 37px;
  background-color: #aca0eb;
  display: block;
  margin: 12px auto 0;
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

#signup_link {
  display: block;
  text-align: center;
  margin-top: 16px;
  color: #121212;
  text-decoration: none;
  font-size: 14px;
}
