/*============== 기본 설정 ==============*/
/* 공통 기본값만 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  height: 100%;
  overflow: hidden;
}

/* #app은 그냥 컨텐츠를 담는 껍데기 역할만 */
#app {
  min-height: 100vh;
  align-items: center; /* 수평 가운데 정렬 */
  background: #fff;
  margin: 0 auto; /* 수평 가운데 정렬 */
  margin-top: 150px; /* 상단 여유 — 필요하면 값 조절 */
}
